:root {
  /* Globals */
  --primary: #1C77FF;
  --selection-color: hsl(from var(--primary) h s calc(l - 5.5) / 0.2);

  /* Background */
  --bg-page: #F9FAFB;
  --bg-card: #FFFFFF;
  --bg-card-alt: hsl(from var(--primary) calc(h - 2.2) s calc(l + 41.4));
  --bg-card-alt-hover: hsl(from var(--primary) calc(h - 1.7) calc(s - 5.4) calc(l + 37.3));
  --bg-section: #F3F4F6;
  --bg-input: #FFFFFF;
  --bg-input-placeholder: #F3F4F6;
  --bg-light: #D1D5DB;
  --bg-overlay: hsl(from var(--primary) calc(h + 5) calc(s - 17) calc(l - 2.2) / 0.702);

  /* Text */
  --text-on-primary: #FFFFFF;
  --text-primary: #1E293B;
  --text-secondary: #475569;
  --text-tertiary: #64748B;
  --text-muted: #9CA3AF;
  --text-inverse: #FFFFFF;
  --text-black: #000000;

  /* Border */
  --border-primary: #D1D5DB;
  --border-secondary: #475569;
  --border-transparent: #00000000;

  /* Button */
  --btn-border: #E5E7EB;

  --btn-text-primary: var(--text-on-primary);
  --btn-bg-primary: var(--primary);
  --btn-bg-primary-hover: hsl(from var(--primary) calc(h + 8) calc(s - 24) calc(l - 7.5));

  --btn-text-secondary: var(--text-muted);
  --btn-bg-secondary: #FFFFFF;
  --btn-bg-secondary-hover: #F9FAFB;
}

:root[data-theme="dark"] {
  /* Background */
  --bg-page: #0F172A;
  --bg-section: #111827;
  --bg-card: #1E293B;
  --bg-card-alt: hsl(from var(--primary) calc(h - 1.9) calc(s - 66) calc(l - 34.1));
  --bg-card-alt-hover: hsl(from var(--primary) calc(h - 0.4) calc(s - 65.7) calc(l - 27.5));
  --bg-input: #1E293B;
  --bg-input-placeholder: #334155;
  --bg-light: #334155;
  --bg-overlay: hsl(from var(--primary) calc(h + 5) calc(s - 17) calc(l - 2.2) / 0.702);

  /* Text */
  --text-on-primary: #FFFFFF;
  --text-primary: #F1F5F9;
  --text-secondary: #CBD5E1;
  --text-tertiary: #94A3B8;
  --text-muted: #64748B;
  --text-inverse: #FFFFFF;
  --text-black: #000000;

  /* Border */
  --border-primary: #334155;
  --border-secondary: #475569;
  --border-transparent: #00000000;

  /* Button */
  --btn-border: #374151;

  --btn-text-primary: #FFFFFF;
  --btn-bg-primary: var(--primary);
  --btn-bg-primary-hover: hsl(from var(--primary) calc(h + 8) calc(s - 24) calc(l - 7.5));

  --btn-text-secondary: var(--text-tertiary);
  --btn-bg-secondary: #1E293B;
  --btn-bg-secondary-hover: #243449;
}

html {
  background-color: var(--bg-page);
  color: var(--text-primary);
}

::selection {
  background-color: var(--selection-color);
}
