:root {
  /* Globals */
  --primary: #2383e2;
  --primary-transparent: color-mix(in srgb, var(--primary) 30%, transparent);
  --selection-color: rgba(35, 131, 226, 0.14);

  /* Background */
  --bg-page: #ffffff;
  --bg-card: #ffffff;
  --bg-card-alt: #f7f7f5;
  --bg-card-alt-hover: #efefed;
  --bg-section: #f7f7f5;
  --bg-input: #ffffff;
  --bg-input-placeholder: #f7f7f5;
  --bg-light: #eaeaec;
  --bg-overlay: rgba(0, 0, 0, 0.4);

  /* Text */
  --text-on-primary: #ffffff;
  --text-primary: #37352f;
  --text-secondary: #787774;
  --text-tertiary: #9b9a97;
  --text-muted: #9b9a97;
  --text-inverse: #ffffff;
  --text-black: #000000;

  /* Border */
  --border-light: #f7f7f5;
  --border-primary: #eaeaec;
  --border-secondary: #d3d3d5;
  --border-transparent: #00000000;

  /* Button */
  --btn-border: #eaeaec;

  --btn-text-primary: var(--text-on-primary);
  --btn-bg-primary: var(--primary);
  --btn-bg-primary-hover: color-mix(in srgb, var(--primary) 85%, black);

  --btn-text-secondary: var(--text-muted);
  --btn-bg-secondary: #ffffff;
  --btn-bg-secondary-hover: #f7f7f5;

  scrollbar-color: var(--border-secondary) transparent;
}

:root[data-theme="dark"] {
  /* Background */
  --bg-page: #191919;
  --bg-card: #202020;
  --bg-card-alt: #252525;
  --bg-card-alt-hover: #2f2f2f;
  --bg-section: #252525;
  --bg-input: #202020;
  --bg-input-placeholder: #2f2f2f;
  --bg-light: #373737;
  --bg-overlay: rgba(0, 0, 0, 0.6);

  /* Text */
  --text-on-primary: #ffffff;
  --text-primary: rgba(255, 255, 255, 0.81);
  --text-secondary: rgba(255, 255, 255, 0.44);
  --text-tertiary: rgba(255, 255, 255, 0.28);
  --text-muted: rgba(255, 255, 255, 0.28);
  --text-inverse: #191919;
  --text-black: #000000;

  /* Border */
  --border-primary: #373737;
  --border-secondary: #4d4d4d;
  --border-transparent: #00000000;

  /* Button */
  --btn-border: #373737;

  --btn-text-primary: #ffffff;
  --btn-bg-primary: var(--primary);
  --btn-bg-primary-hover: color-mix(in srgb, var(--primary) 85%, white);

  --btn-text-secondary: var(--text-secondary);
  --btn-bg-secondary: #252525;
  --btn-bg-secondary-hover: #2f2f2f;
}

html {
  background-color: var(--bg-page);
  color: var(--text-primary);
}

::selection {
  background-color: var(--selection-color);
}
